@*

    @using EventApplication.Models
    @model OrganizeAnEvent
    @{
        ViewBag.Title = "OrganizeAnEvent";
    }


*@
@model IEnumerable<EventApplication.Models.OrganizeAnEvent>
@{
    ViewBag.Title = "OrganizeAnEventEdit";
}

<h2>OrganizeAnEventEdit</h2>

