@*
<h2>
    Daily Deal
</h2>
*@


    @model IEnumerable<EventApplication.Models.Event>
    @{
        ViewBag.Title = "Last Minute Deals";
    }

    <table class="table">
        <tr>
            @foreach (var item in Model)
            {
                <td>
                    @Html.ActionLink(item.Title, "Details", new { id = item.EventId })
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.StartDate)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.City)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.State)
                </td>
            }
        </tr>
    </table>




        <table class="table">
            @foreach (var item in Model)
            {
                <tr>
                    <td></td>
                </tr>
            }

        </table>*@

