@model IEnumerable<EventApplication.Models.Event>
@{
    ViewBag.Title = "EventTitle";
}

<h2>Event Title</h2>
<ul>
    @foreach (var item in Model)
    {
        <li>
            @*
            Each time i click on each Title i want it to redirect me to the event index and not the home index    
            *@
            @Html.ActionLink(item.Title, "EventDetails", new { id = item.EventId })
        </li>
        
    }
</ul>

