@model IEnumerable<EventApplication.Models.Event>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Event Unlimited</h1>
    <p class="lead">Find events near you. Never miss out again!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Find an Event</h2>

        @using (
            Ajax.BeginForm("FindanEvent", "Home",
                new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET",
                    UpdateTargetId = "searchresults",
                    LoadingElementId = "ajax-loader",
                    OnFailure = "searchFailed",
                }
            )
        )
        {
            <input type="text" class="btn btn-default" placeholder="Event or EventType" name="q" />
            <input type="text" class="btn btn-default" placeholder="Location, City or State" name="z" />
            <input type="submit" value="search" />
        }
        <div id="searchresults">
        </div>
    </div>

    <div id="lastminutedeals">
        @Ajax.ActionLink("Click here to see last minutes deals!",
        "LastMinuteDeals",
        null,
        new AjaxOptions {
            UpdateTargetId = "lastminutedeals",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "GET"
        },
        new {@class = "btn btn-primary"})

    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/Apps/EventAppScript.js"></script>
}
