@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Event Unlimited</h1>
    <p class="lead">Find events near you. Never miss out again!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Find an Event</h2>

        <a href="EventType" class="btn btn-default">Event or Event Type</a>
        <a class="btn btn-default" href="/">Location, City or State</a>
        <input type="submit" value="Search" />
    </div>
   @* <div class="col-md-4">
        <p><a class="btn btn-default" href="/">Click here to see Last Minute Deals!</a></p> 
    </div>
*@

    <div id="lastminutedeals">
        @Ajax.ActionLink("Click here to see last minutes deals!",
        "LastMinuteDeals",
        null,
        new AjaxOptions {
            UpdateTargetId = "lastminutedeals",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "GET"
        },
        new {@class = "btn btn-primary"})
        
    </div> 
</div>   
  
@section Scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
